.container{
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    gap: 10px;
}

.BookCard{
    display: flex;
    justify-content: center;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif ;
    font-size: 10px;
    border: 1px solid #000000;
    border-radius: 10px;
}

.BookCardImage{
    width: 60%;
    height: 60%;
    object-fit: cover;
}